[Unit]
Description=Schalter IRC Bot

[Service]
ExecStart=/usr/bin/sopel
User=pi
Group=pi
Restart=always
RestartSec=300

[Install]
WantedBy=multi-user.target
